<p>routes for {{name}}</p>

<ul>
  <li *ngFor="let i of data; let in = index;">
      stop {{in+1}}
      <p *ngFor="let k of i.patterns; let ind = index;">
        {{k.name}}

      </p>
    </li>
</ul>

